/*Barre de Naviguation*/

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.menu-nav {
    background-color: #FFFFFF;
    margin-top: auto;
    width: 100%;
    height: auto;
    text-align: right;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    vertical-align: center;
}

.nav-item {
    display: inline-flex;
}

.nav-item a {
    color: #000000;
    padding: 27px;
    font-size: 13px;
    letter-spacing: 1.1px;
    text-decoration: none;
    text-transform: uppercase;
}


#ul-container {
  vertical-align: center;
  margin: 0px 40px 0px 40px;
}

.nav-item:hover a {
    color: #000A7E;
}

.nav-item-services {
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    height: auto;
    visibility: visible;
    color: black;
    margin-top: 69px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    list-style: none;
}

li:hover .nav-item-services{
    display: flex;
    flex-direction: column;
    padding: 0px;
    color: black;
}

.nav-item-services a {
    color: black;
    text-align: left;
}

.nav-item-services li {
    color: black;
    float: none;
    text-align: right;
    position: all;
    padding: 10px 0px;
}











/*Page accueil*/
.entete{
    text-align: center;
    padding: 30px;
}

/*Page acceuil module 1 presentation*/
.pacc_mod1_pres{
    text-align: center;
}

.pacc_mod1 img {
    width: 500px;
    height: 350px;
}

.pacc_mod1 input{
    width: 500px;
    height: 30px;
}

/*Page acceuil module 2 presentation*/
.pacc_mod2_pres{
    text-align: center;
}

.pacc_mod2 img {
    width: 500px;
    height: 350px;
}

.pacc_mod2 input{
    width: 500px;
    height: 30px;
}

.pacc_mod2 td p  {
    margin-left: 6em;
}

.pacc_mod2 td input{
    margin-left: 7em;
}

/*Page acceuil module 3 presentation*/
.pacc_mod3_pres{
    text-align: center;
}

.pacc_mod3 img {
    width: 500px;
    height: 350px;
}

.pacc_mod3 input{
    width: 500px;
    height: 30px;
}


/* Footer  pour toutes les pages*/

.footer{
    padding:10px;
    background-color: #ff0606;
    color:#4b4c4d;
}

.footer ul {
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
}

.footer li {
    padding:0 10px;
}






/*Page 404*/

.erreur {
    vertical-align: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.erreur h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    margin: 0px;
}








/*Module1*/

.mod1{
    text-align: center;
}



/*Connexion */
.connexion table{

    margin-left:auto;
    margin-right:auto;
}